.no-m {
  margin: 0 auto;
}
.contact-form {
  padding: 15px;
  background: linear-gradient(rgba(243, 243, 243, 0.52), rgba(255, 255, 255, 0.98)), rgba(0,0,0,0) url('../img/contact-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contact-form h2 {
  color: #6c9283;
}
.contact-form .form-control {
  background: rgba(255, 255, 255, 0.79);
  box-shadow: 0px 4px 10px -5px #555;
  border: none;
  transition: 0.2s linear;
}

.contact-form .form-control:hover {
  box-shadow: 0px 8px 17px -10px #111;
  transform: translateY(-2px);
}

.map {
  box-shadow: 1px 1px 8px -2px #777;
}

@media only screen and (max-width: 767px) {
  .contact-form {
    background: rgba(21, 13, 13, 0.04);

  }

}
