.modal-content {
  position: absolute;
  height: 100px;
  border-radius: 0;
  left: 0; right: 0; bottom: 0;
  top: 50vh;
  transform: translateY(-50%);
}
.modal-body {
  font-size: 16px;
}
button.close {
  margin-left: 20px;
}
button.btn-confirm {
    padding: 5px 10px;
    margin-top: 10px;
}
