.contact-form {
  padding: 15px;
  background: linear-gradient(rgba(243, 243, 243, 0.52), rgba(255, 255, 255, 0.98)), rgba(0,0,0,0) url('../img/contact-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}
.contact-form h2 {
  color: #6c9283;
}
.contact-form .form-control {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  border-bottom: 2px solid #6c9283;
}
