
.create-event {
  margin-bottom: 20px;
}

/* Input Styles */
.create-event label {
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s ease-in;
}

.form.row .form-group input, .form.row .form-group textarea {
  border: none;
  padding: 20px 15px;
  transition: all 0.2s ease-in;
  background: rgba(62, 62, 62, 0.09);
}

.form.row .form-group input:hover, .form.row .form-group input:focus, .form.row .form-group input:active, .form.row .form-group textarea:hover, .form.row .form-group textarea:focus, .form.row .form-group textarea:active {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-color: #6c9283;
}

.form.row .form-group input:focus {
  border-bottom: 5px solid #6c9283;
}

.labelfocus {
  color: #6c9283 !important;
  font-weight: bold;
  font-size: 11px !important;
}

.box-shadow {
  box-shadow: 1px 1px 7px -2px #444;
}
