/* your styles go here */

/*Home Page Styles*/

    /*Nav bar style*/
    .navbar-default {
        background-color: #6c9283;
    }

    .navbar-default .container {
      border-bottom: 3px solid #fff;
    }
    .affix .container {
      border-bottom: none;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar ul.nav > li > a:hover, .navbar ul.nav > li > a:focus {
        border-top: solid 5px #fff;
        background: transparent;
        color: #fff;
    }
    @media (max-width: 768px) {
      .navbar ul.nav > li > a:hover, .navbar ul.nav > li > a:focus {
          border-top: none;
          border-left: 5px solid #fff;
      }
    }
    /*end*/

    /* FLash Message Styles */
    .custom-flash {
      background: rgb(108, 146, 131);
      position: fixed;
      padding: 10px 20px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      top: 0px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      z-index: 99;
      transition: display 0.5s ease;
      box-shadow: 1px 1px 5px rgba(103, 103, 103, 0.63)
    }


    /* Carasoul Styles*/
    .home-carousel {
        /*background: url('../img/home-bg.jpg');
        background-position: center center;
        background-size: cover;*/
    }

    .home-carousel .dark-mask {
        background-color: #5b8674;
    }

    /*end*/
    .fa.fa-2x {
      font: normal normal normal 38px/2 FontAwesome;
    }

    /*Quote Bar*/
    .home.bar {
      background: #444644;
    }
    .home.box-simple .icon {
      background: #444644;
      color:#fff;
      border:none;
    }

    .home.box-simple .border {
        display: inline-block;
        padding: 15px;
        border: 3px solid rgba(95, 179, 195, 0);
        border-radius: 100%;
        transition: 0.2s ;
    }
    .home.box-simple:hover .border { border: 3px solid rgba(95, 179, 195, 1); }
    .home.box-simple:hover .icon {
      background: #5fb3c3;
    }

    /*Team section styles*/
    .team-wrapper {
      padding: 40px 20px 0 20px;
      background: rgba(69, 193, 230, 0.19);
    }

    .team-member .image {
      padding: 35px;
    }
    /*end*/

    /*Footer Styles*/
    #footer .social a {
        color: #999999;
        padding: 3px 0;
        margin:0 2px 0 0;
    }
    #footer .social a:hover {
      color: rgb(193, 190, 190);
    }
    #footer .social .external .fa {
      width: 25px;
      height: 25px;
      text-align: center;
    }
    #footer .social .external.youtube { background: #b34141;}
    #footer .social .external.facebook { background: rgb(83, 83, 169) ;}
    #footer .social .external.gplus{ background: rgb(171, 80, 80) ;}
    #footer .social .external.twitter { background: rgb(80, 119, 160) ;}
    #footer .social .external.instagram { background: #9b6954 ;}

    /*end*/
