.navbar-default .container {
    border-bottom:none;
}

/* Dashboard Style */
.event-item .col-xs-12 {
    box-shadow: 0px 0px 2px 2px #ccc;
    margin: 0 0 15px 0;
}

.event-item:last-child{
  margin-right: 0;
}

.event-item .spacer .event-intro {
  max-height: 100px;
  overflow: auto;
}

.sidebar {
  padding: 0;
  box-shadow: 3px 0 4px -3px #d8d8d8;
}

.panel.sidebar-menu .panel-heading {
  background: rgba(56, 167, 187, 0.28);
  padding: 10px 0;
}
.panel.sidebar-menu .panel-heading .panel-title {
  border: none;
  padding: 10px;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #6c9283;
}
.panel-primary > .panel-heading .panel-title {
  display: block;
}
.panel-primary > .panel-heading .panel-title:hover, .panel-primary > .panel-heading .panel-title:focus, .panel-primary > .panel-heading .panel-title:visited {
  color: #fff;
  outline:none;
}


/* VIew events Styles  */

.view-event.container {
  margin-top: 20px ;
}
  .event-info .ldr-bd { margin: 20px auto; }
  .btn {
    padding: 10px;
  }
  .btn-success {
    background: #87D37C;
    border: none;
  }
  .btn-success:hover {
    background-color: #2ECC71;
    border-color: #2ecc71;
  }


/*Custom Scroll bar style */

.track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track:hover,
.track.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track:hover .handle,
.track.dragging .handle {
    width: 10px;
}
