
/* Styles for code editor Page */
.editor.row .title.segment h1 {
  display: inline;
  font-family: "Raleway";
}

.editor.row .segment {
  font-family: "Raleway";
  padding: 20px 15px;
  border-bottom:  2px solid rgba(204, 204, 204, 0.32);
}

.editor.row .segment strong {
    color: rgba(108, 146, 131, 0.75);
}
.result div { display: inline-block; padding-top: 10px; letter-spacing: 1px;}
.result .correct {
  border-left: 5px solid #87D37C;
}
.result .wrong {
  border-left: 5px solid #EC644B;
}
.editor.row .result-list li {
  list-style: none;
  color: #868282;
}
