#background {
  position: fixed;
  width: 100%; height: 100%;
  background-image: url('http://picknotebook.com/blog/wp-content/uploads/2015/11/best-laptop-for-programming.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  opacity: 0.2;
  filter:alpha(opacity=20);
}

#panel{
  margin: auto;
  border:none;
  text-align:center;
  /*Shadow*/
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

}


.panel > .panel-heading {
  background-image:none;
  background-color:	#6C9283;
  color: white;
}

#headpanel{
  text-align:center;
  background-color:#6C9283;
}


#typein{
  font-family:Calibri Light;
  font-size:15px;
}

#btnReset, #btnSignup{
  display:inline-block;
  vertical-align:top;
  background-color:#444644;
  color:#fff;
  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*Shadow*/
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  /*Transition*/
  -webkit-transition: All 0.8s ease;
  -moz-transition: All 0.8s ease;
  -o-transition: All 0.8s ease;
  -ms-transition: All 0.8s ease;
  transition: All 0.8s ease;
}


.dividerbtn{
  height:auto;
  display:inline-block;
  width:20px;
}

#btn { padding-top:20px; }

#btnReset:hover, #btnSignup:hover  {
  background-color:#5FB3C3;
}

#radiobtn{
  padding-left: 30px;
  padding-top:-50px;
  float:left;
}

input:focus{
  outline-color:red !important;
}

#trouble{
  padding-top:10px;
  display: block;
  color:#6C9283;
}

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: red;
}*/

.nav-tabs > li.active a,
.nav-tabs > li.active > a:hover,
 .nav-tabs > li.active > a:focus
 {
  background-color: #6C9283;
  color: white;
  margin:0;
  letter-spacing: 1px;

}
.nav-tabs > li {
  width: 50%;
  text-align: center;

}
.nav-tabs {
  width: 100%;
  /*margin-left: 1px;*/
}
.tab-content {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
.login {
  margin-bottom: 80px;
}